.toxicity-filter-dropdown {
    width: 264px;
    height: 32px;
    border-color: #b0b6b7;
    padding-left: 10px;
    cursor: pointer;
  }
  .toxicity-filter-dropdown:focus {
    outline: none; /* to get rid of the blue outline on focus */
    box-shadow: 0 1px 6px rgb(39, 51, 51, 0.2);
    border-color: #364141;
  }
  .toxicity-filter-dropdown:hover {
    outline: none; /* to get rid of the blue outline on focus */
    border-color: #364141;
  }