/* Header related styles */
.App-header {
  background-color: #002138;
  color: white;
  width: 1440px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px;
}

.app-logo {
  max-height: 35px;
  padding: 10px;
}
/* Header related styles end */
