.bold-text {
  font-weight: bold;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
hr {
  color: #dee1e1;
}

/* Header related styles */
.App-header {
  background-color: #002138;
  color: white;
  width: 100vw;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.app-logo {
  max-height: 35px;
  padding: 0 20px;
}
/* Header related styles end */

/* Search section related styles */
.search-wrapper {
  background-color: #e9f8ff;
  color: #364141;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-wrapper .col-2 {
  width: 16.6%;
  text-align: center;
}
.search-wrapper .col-8 {
  width: 66.6%;
}
.text-wrapper {
  flex-direction: column;
}
.cat-image {
  max-width: 15vw;
  padding: 0;
}
.instructions {
  width: 50%;
  line-height: 29px;
}
/* Search section related styles end */

/* Plant View section related styles */
.plant-view-wrapper {
  margin: 20px;
  color: #273333;
}

.selection-flex-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 7vw;
}
.toggle-wrapper {
  margin: 0;
  text-align: center;
}
.toggle-icon {
  margin: 10px;
  font-weight: 100;
  color: #273333;
}
.flex-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}
.flex-grid .col {
  margin: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(39, 51, 51, 0.2);
  transition: 0.3s;
  height: 40vh;
  width: 20vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(39, 51, 51, 0.2);
}

.container {
  padding: 2px 16px;
}

.plant-image {
  max-width: 20vw;
  min-height: 30vh;
}

.plant-info-row {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  color: #273333;
  font-weight: bold;
}

.toxicity-token {
  background-color: #026b40;
  color: white;
  border-radius: 48px;
  padding: 6px;
  font-size: 12px;
}
p.toxic {
  background-color: #ffbc02;
  color: #273333;
}
/* Plant View section related styles end */

/* Plant List section related styles */
.plants-list {
  list-style-type: none;
  padding-right: 80px;
  padding-left: 80px;
}
.plants-list li {
}
.plants-list span.name-col {
  width: 180px;
}
.plants-list span.token-col {
  width: 70px;
  text-align: center;
}
.plants-list span.details-col {
  width: 800px;
}
.list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.plant-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.plant-common-name {
  font-weight: bold;
  font-size: 18px;
  color: #273333;
}
.plant-scientific-name {
  color: #515e5f;
  font-style: italic;
  font-size: 13px;
}
.plant-details {
  color: #364141;
}
/* Plant View section related styles end */

/* Search input styles */
.search-input-wrapper {
  position: relative;
}
.search-input {
  width: 60vw;
  height: 56px;
  border-radius: 32px;
  border-color: #dee1e1;
  border-style: solid; /* to overwrite the inset style of html input */
  padding-left: 50px;
}
.search-input:focus {
  box-shadow: 0 1px 6px rgb(39, 51, 51, 0.2);
  outline: none; /* to get rid of the blue outline on focus */
}

.search-input-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #364141;
}
/* Search input styles ends */

/* Toxicity filter styles */
.toxicity-filter-dropdown {
  width: 264px;
  height: 32px;
  border-color: #b0b6b7;
  padding-left: 10px;
}
.toxicity-filter-dropdown:focus {
  outline: none; /* to get rid of the blue outline on focus */
  box-shadow: 0 1px 6px rgb(39, 51, 51, 0.2);
  border-color: #364141;
}
.toxicity-filter-dropdown:hover {
  outline: none; /* to get rid of the blue outline on focus */
  border-color: #364141;
}
/* Toxicity filter styles end */
